@charset "UTF-8";

#mainHyundaicard {z-index:1;position:relative;width:100%;max-width:1000px;margin:221px auto 0 auto;background:#c99;}



#mainHyundaicard #section1 {position:relative;width:100%;}
#mainHyundaicard #section1 > img {z-index:1;position:relative;width:100%;}
#mainHyundaicard #section1 span {z-index:2;position:absolute;right:45px;top:465px;width:100%;max-width:430px;}
#mainHyundaicard #section1 span img {width:100%;}



#mainHyundaicard #section2 {position:relative;width:100%;}
#mainHyundaicard #section2 > img {z-index:1;position:relative;width:100%;}
#mainHyundaicard #section2 span {z-index:2;position:absolute;left:50%;top:616px;width:100%;max-width:224px;margin:0 0 0 -112px;}
#mainHyundaicard #section2 span img {width:100%;}

#mainHyundaicard #section2 .event01-box {width:100%;}
#mainHyundaicard #section2 .event01-box .event01-btn {display:block;}
#mainHyundaicard #section2 .event01-box .list-event01 {display:none;width:100%;}
#mainHyundaicard #section2 .event01-box .list-event01 img {width:100%;}



#mainHyundaicard #section3 {}



#mainHyundaicard #section4 {}



#mainHyundaicard #section5 {}